glacier_data/glacier_evolution
glacier_data/smb/smb_simulations
glacier_data/glacier_rasters/glacier_thickness/dem_tif/glacier_evolution
glacier_data/glacier_rasters/glacier_thickness/thickness_tif/glacier_evolution